<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">add new users</li>
  </ol>
</nav>

<% if (typeof msg !== 'undefined' && msg) { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= msg %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>

<form class="row g-3 needs-validation" method="post" action="/newUser">
  <%- include("partials/userForms") -%>
</form>
