<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">add new users</li>
  </ol>
</nav>

<% if (typeof msg !== 'undefined' && msg) { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= msg %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>

<form class="row g-3 needs-validation" method="post" action="/newUser">
  <div class="col-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Anil"
        name="first_name"
        required
      />
      <label for="floatingInput">First Name</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="pahari"
        name="last_name"
        required
      />
      <label for="floatingInput">Last Name</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@gmail.com"
        name="email"
        required
      />
      <label for="floatingInput">Email address</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="9849282042"
        name="phone"
        required
      />
      <label for="floatingInput">Phone</label>
    </div>
  </div>
  <div class="col-12">
    <div class="form-floating mb-3">
      <textarea
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="comments"
        name="comments"
        style="height: 200px"
      ></textarea>
      <label for="floatingInput">Comments</label>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
